.preloader {
	position: fixed;
	left: 0;
	top:0;
	right:0;
	bottom:0;
	background-color: #e0e0e0;
	z-index: 1001;
}
.preloader__row {
	position: relative;
	top: 50%;
	left:50%;
	width:70px;
	height: 70px;
	margin-top: -35px;
	margin-left: -35px;
	text-align: center;
	animation: preloader-rotate 2s infinite linear;
}
.preloader__item {
	position: absolute;
	display: inline-block;
	top: 0;
	background-color: #337ab7;
	border-radius: 100%;
	width: 35px;
	height: 35px;
	animation: preloader-bounce 2s infinite ease-in-out;
}
.preloader__item:last-child {
	top: auto;
	bottom: 0;
	animation-delay: -1s;
}


@keyframes preloader-rotate {
	100% {
		transform: rotate(360deg);
	}
}


@keyframes preloader-bounce {
	0%,
	100% {
		transform: scale(0);
	}
	
	50% {
		transform: scale(1);
	}
}


.loaded_hiding .preloader {
	transition: 5s opacity;
	opacity: 5;
}


.loaded .preloader {
	display: none;
}
.gg {
	color:red;
}
.SKC {
	color: red;
}
.JS {
	color: red;
}
.SRHS {
	text-align: center;
}
.SKC {
	text-align: center;
}
.Javas {
	text-align: center;
}
.SILKA {
	text-align: center;
}
body{
	background-color: #b2ebf2;
}
.color-panel{
	position: absolute;
    top: 0px;
    right: 30px;
    background-color: #fff;
    height: 60px;
    padding: 15px 5px 5px 5px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.35);
    border-radius: 0px 0px 30px 30px;
}
.color-panel div {
	height: 50px;
	width: 50px;
	border-radius: 30px;
	float:left;
	margin: 5px;	
}
#blue{
	background-color: #b3e5fc;
}
#red{
	background-color: #ffcdd2;
}
#purple{
	background-color: #b39ddb;
}
#green{
	background-color: #c5e1a5;
}
#orange{
	background-color: #ffcc80;
}